<a href="https://colab.research.google.com/github/arhan09/LearingPython/blob/master/01%20-%20Python%20Object%20and%20Data%20Structure%20Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

![Enigma Machine](https://raw.githubusercontent.com/recervictory/public/master/CBSE-XII/images/0401_enigmaMachine.jpg)
___

# 1. Numbers in Python

## 1.1 Basic Arithmetic in Python!

In this notebook, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) # Numbers and more in Python!

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Pythonnces between classic division and floor division
    4.) Object Assignment in Python

## 1.2 Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

Integers are just whole numbers, positive or negative. For example: 2 and -2 are examples of integers.

Floating point numbers in Python are notable because they have a decimal point in them, or use an exponential (e) to define the number. For example 2.0 and -2.1 are examples of floating point numbers. 4E2 (4 times 10 to the power of 2) is also an example of a floating point number in Python.

Throughout this course we will be mainly working with integers or simple float number types.

Here is a table of the two main types we will spend most of our time working with some examples:
- Integers(`int`) | **example:** 1,2,-5,1000
- Floating point(`float`) | **example:** 1.2,-0.5,2e2,3E2

### Basic Arithmetic :

In [1]:
# Addition
2+2

4

In [ ]:
# Subtraction
2-1

In [ ]:
# Multiplication
2*2

In [ ]:
# Division
3/2

In [ ]:
# Floor Division Between 3 and 2
11//5

**Important**: 
`The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.`

**So what if we just want the remainder after division?**

Modulo Operator :   The % operator returns the remainder after division.

In [ ]:
# Modulo
7%4

In [ ]:
# Modulo
64 % 100

### Arithmetic continued

In [ ]:
# Powers
2**5

In [ ]:
# Can also do roots this way
4**0.5

In [ ]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

In [ ]:
# Can use parentheses to specify orders
(2+10) * (10+3)

## 1.3 Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a `single equals sign (=)` to assign  `labels to variables`. Let's see a few examples of how we can do this.

In [ ]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [ ]:
# Adding the objects
a+a

Yes! Python allows you to write `over assigned variable names`. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [ ]:
# Use A to redefine A
a = a + a

In [ ]:
# Check 
a

### Important : The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [ ]:
# Show my taxes!
my_taxes

### Variable Assignment Best Practice

#### Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

### Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [ ]:
my_dogs = 2
my_dogs

In [ ]:
my_dogs = ['Sammy', 'Frankie']
my_dogs

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

### Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [ ]:
a = 10
a

### Reassigning Variables
Python lets you reassign variables with a reference to the same object.

In [ ]:
a = a + 10
a

In [ ]:
b = 55
b = 55 / 11
b

### Imporant
There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [ ]:
# reassignments
a += 10
b *= 11
a,b

## 1.4 Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [ ]:
# Lets find the type of a variable
type(a)

In [ ]:
a = (1,2)
type(a)

In [ ]:
a = [1,2,3,34,4]
type(a)

# 2. Strings in Python
Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## 2.1 Creating a String
To create a string in Python you need to use either `single quotes ('')` or `double quotes ("")`. For example:

In [ ]:
# Single word
'hello'

In [ ]:
# Entire phrase 
'This is also a string'

In [ ]:
# We can also use double quote
"String built with double quotes"

In [ ]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [ ]:
# Lets Try Again
"Now I'm ready to use the single quotes inside a string!"

## 2.2 Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [ ]:
# We can simply declare a string
'Hello World'

In [ ]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

We can use a print statement to print a string.

In [ ]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what \t I mean?')

## 2.3 String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [ ]:
# Assign s as a string
s = 'Hello World'
#Check
s

'Hello World'

In [ ]:
# Print the object
print(s)

In [ ]:
# Show first element (in this case a letter)
s[0]

In [ ]:
s[1]

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[2:]

In [ ]:
# Till index 3
s[5:7]

' W'

In [ ]:
#Everything
s[:]

In [ ]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

In [ ]:
# Grab everything but the last letter
s[:-1]

###  string\[start:end:step]
We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
s[::]

'Hello World'

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [ ]:
# Grab everything, but go in step sizes of 2
s[1::2]

'el ol'

In [ ]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## 2.4 Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [ ]:
s

In [ ]:
print(s.upper())
print(s.lower())

In [ ]:
# Split a string by blank space (this is the default)
s.split(" ")

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

## 2.2 String Formatting

String formatting lets you inject items into a string rather than trying to chain items together using commas or string concatenation. As a quick comparison, consider:

    player = 'Thomas'
    points = 33
    
    'Last night, '+player+' scored '+str(points)+' points.'  # concatenation
    
    f'Last night, {player} scored {points} points.'          # string formatting


There are three ways to perform string formatting.
* The oldest method involves placeholders using the modulo `%` character.
* An improved technique uses the `.format()` string method.
* The newest method, introduced with Python 3.6, uses formatted string literals, called *f-strings*.

Since you will likely encounter all three versions in someone else's code, we describe each of them here.

In [ ]:
"hello" + " " + "World"

'hello World'

In [ ]:
"hello " * 3

'hello hello hello '

### Formatting with placeholders
You can use <code>%s</code> to inject strings into your print statements. The modulo `%` is referred to as a "string formatting operator".

In [ ]:
print("I'm going to inject %s here." %'something')

#You can pass multiple items by placing them inside a tuple after the `%` operator.
print("I'm going to inject %s text here, and %s text here." %('some','more'))

In [ ]:
# You can also pass variable names:
x, y = 'some', 'more'
print("I'm going to inject %s text here, and %s text here."%(x,y))

### Format conversion methods.
It should be noted that two methods <code>%s</code> and <code>%r</code> convert any python object to a string using two separate methods: `str()` and `repr()`. We will learn more about these functions later on in the course, but you should note that `%r` and `repr()` deliver the *string representation* of the object, including quotation marks and any escape characters.

In [ ]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred')

#### As another example, `\t` inserts a tab into a string.

In [ ]:
print('I once caught a fish %s.' %'this \tbig')
print('I once caught a fish %r.' %'this \tbig')

### Important:  The `%s` operator converts whatever it sees into a string, including integers and floats. The `%d` operator converts numbers to integers first, without rounding. Note the difference below:

In [ ]:
print('I wrote %s pi today.' %3.14)
print('I wrote %d pi today.' %3.14)
print('I wrote %f pi today.' %3.14)

### Important:  Padding and Precision of Floating Point Numbers
Floating point numbers use the format <code>%5.2f</code>. Here, <code>5</code> would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, <code>.2f</code> stands for how many numbers to show past the decimal point. Let's see some examples:

In [ ]:
print('Floating point numbers: %5.2f' %(13.144))
print('Floating point numbers: %1.0f' %(13.144))
print('Floating point numbers: %1.5f' %(13.144))
print('Floating point numbers: %10.2f' %(13.144))
print('Floating point numbers: %25.2f' %(13.144))

### Formatting with the `.format()` method
A better way to format objects into your strings for print statements is with the string `.format()` method. The syntax is:

    'String here {} then also {}'.format('something1','something2')
    
For example:

In [ ]:
print('This is a string with an {}'.format('insert'))

### The .format() method has several advantages over the %s placeholder method:

In [ ]:
## Advantages
# 1. Inserted objects can be called by index position:
print('The {2} {1} {0}'.format('fox','brown','quick'))

# 2. Inserted objects can be assigned keywords:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

# 3. Inserted objects can be reused, avoiding duplication:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

### Alignment, padding and precision with `.format()`
Within the curly braces you can assign field lengths, left/right alignments, rounding parameters and more

In [ ]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

#### By default, `.format()` aligns text to the left, numbers to the right. You can pass an optional `<`,`^`, or `>` to set a left, center or right alignment:

In [ ]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

#### Field widths and float precision are handled in a way similar to placeholders. The following two print statements are equivalent:

In [ ]:
print('This is my ten-character, two-decimal number:%10.2f' %13.579)
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

### Formatted String Literals (`f-strings`)
Introduced in Python 3.6, f-strings offer several benefits over the older `.format()` string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through `.format(var)`.

In [ ]:
name = 'Fred'

print(f"He said his name is {name}.")

#### Pass `!r` to get the string representation:

In [ ]:
print(f"He said his name is {name!r}")

#### Float formatting follows `"result: {value:{width}.{precision}}"`

Note that with f-strings, *precision* refers to the total number of digits, not just those following the decimal. This fits more closely with scientific notation and statistical analysis. Unfortunately, f-strings do not pad to the right of the decimal, even if precision allows it:

In [ ]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

## 3. Using Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are **mutable**, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3,5,100]
my_list

[1, 2, 3, 5, 100]

We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
my_list = ['A string',23,100.232,'o']
my_list

['A string', 23, 100.232, 'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [ ]:
my_list = ['one','two','three',4,5]

In [ ]:
# Grab element at index 0
my_list[0]

'one'

In [ ]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [ ]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use + to concatenate lists, just like we did for strings.

In [ ]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

We can also use the * for a duplication method similar to strings:

In [ ]:
# Make the list double
my_list * 2

['one', 'two', 'three', 4, 5, 'one', 'two', 'three', 4, 5]

In [ ]:
my_list

['one', 'two', 'three', 4, 5]

### You would have to reassign the list to make the change permanent.

In [ ]:
# Reassign
my_list = my_list + ['add new item permanently']
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

### 3.1 Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [ ]:
# Create a new list
list1 = [1,2,3]

A. Use the **append** method to permanently add an item to the end of a list:

In [ ]:
# Append
list1.append('append me!')
# Display
list1

[1, 2, 3, 'append me!']

In [ ]:
list1.append('Name')
list1

[1, 2, 3, 'append me!', 'Name']

B. Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [ ]:
# Pop off the 0 indexed item
list1.pop(1)
# Display
list1

[3, 'Name']

In [ ]:
list1.pop()
list1

[1, 2, 3]

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()
popped_item

3

In [ ]:
# Show remaining list
list1

[1, 2]

It should also be noted that lists indexing will return an **error if there is no element at that index**. For example:

In [ ]:
list1[100]

IndexError: list index out of range

C. We can use the **sort** method and the **reverse** methods to also effect your lists:

In [ ]:
empty = []

In [ ]:
student = input('Enter the student name. ')
empty.append(student)
empty

['Victor', 'Dev']

In [ ]:
new_list = ['a','e','x','b','c']
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()
new_list

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

['a', 'b', 'c', 'e', 'x']

In [ ]:
empty.sort()
empty.reverse()
empty

['Victor', 'Dev']

## 3.2 Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]
# Show matrix
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
matrix[0][1]

2

In [ ]:
matrix[2][1]

8

In [ ]:
# Show
m = [matrix,matrix]
m[1][2][0]

7

### We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [ ]:
# Grab first item in matrix object
matrix[0]

In [ ]:
# Grab first item of the first item in the matrix object
matrix[1][0] = 4
matrix

[[1, 2, 3], [4, 100, 6], [7, 8, 9]]

## 3.4 List Comprehensions
Python has an advanced feature called list comprehensions. They allow for quick construction of lists. To fully understand list comprehensions we need to understand for loops. So don't worry if you don't completely understand this section, and feel free to just skip it since we will return to this topic later.

But in case you want to know now, here are a few examples!

In [ ]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]
first_col

# 4. Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## 4.1 Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}
my_dict['key1']

'value1'

In [ ]:
dicts = {1:'Dev',2:'Ajay',3:'Vikram'}
dicts

{1: 'Dev', 2: 'Ajay', 3: 'Vikram'}

In [ ]:
# Call values by their key
dicts[3]

'Vikram'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
# Can call an index on that value
my_dict['key3'].append('item3')
my_dict

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2', 'item3']}

We can affect the values of a key as well. For instance:

In [ ]:
my_dict['key1']

123

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123
#Check
my_dict['key1']

0

In [ ]:
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2', 'item3']}

In [ ]:
db = {}

In [ ]:
key = input('Enter student roll no: ')
value = input("Enter student Name ")
db[key] = value
db

{'3': 'sobha', '1': 'ratna'}

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [ ]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':{}}}}

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

{}

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# 5. Tuples

In Python tuples are very similar to lists, however, unlike lists they are **immutable** meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [ ]:
# Create a tuple
t = (1,2,3)
# Check len just like a list
len(t)
t

In [ ]:
# Can also mix object types
t = ('one',2)

# Show
t

In [ ]:
# Use indexing just like we did in lists
t[0]

In [ ]:
# Slicing just like a list
t[-1]

## Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [ ]:
# Use .index to enter a value and return the index
t.index(2)

In [ ]:
# Use .count to count the number of times a value appears
t.count('one')

## Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [ ]:
t[0]= 'change'

In [ ]:
t.append('nope')

## When to use Tuples

If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

Up next Files!

# 5. Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [ ]:
x = set()

In [ ]:
# We add to sets with the add() method
x.add(1)

In [ ]:
#Show
x

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [ ]:
# Add a different element
x.add(2)

In [ ]:
#Show
x

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [ ]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]
# Cast as set to get unique values
set(list1)

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None.

In [ ]:
# Set object to be a boolean
a = True

In [ ]:
#Show
a

In [ ]:
b = False
b

In [ ]:
c = None
type(c)

In [ ]:
We can use None as a placeholder for an object that we don't want to reassign yet:

In [ ]:
# None placeholder
b = None
# Show
print(b)

# 7. Files

Python uses file objects to interact with external files on your computer. These file objects can be any sort of file you have on your computer, whether it be an audio file, a text file, emails, Excel documents, etc. Note: You will probably need to install certain libraries or modules to interact with those various file types, but they are easily available. (We will cover downloading modules later on in the course).

Python has a built-in open function that allows us to open and play with basic file types. First we will need a file though. We're going to use some IPython magic to create a text file!

## IPython Writing a File 
#### This function is specific to jupyter notebooks! Alternatively, quickly create a simple .txt file with sublime text editor.

In [ ]:
%%writefile test.txt
Hello, this is a quick test file.

## Python Opening a file

Let's being by opening the file test.txt that is located in the same directory as this notebook. For now we will work with files located in the same directory as the notebook or .py script you are using.

It is very easy to get an error on this step:

In [ ]:
myfile = open('whoops.txt')

In [ ]:
pwd

**Alternatively, to grab files from any location on your computer, simply pass in the entire file path. **

For Windows you need to use double \ so python doesn't treat the second \ as an escape character, a file path is in the form:

    myfile = open("C:\\Users\\YourUserName\\Home\\Folder\\myfile.txt")

For MacOS and Linux you use slashes in the opposite direction:

    myfile = open("/Users/YouUserName/Folder/myfile.txt")

In [ ]:
# We can now read the file
my_file.read()

In [ ]:
# But what happens if we try to read it again?
my_file.read()

This happens because you can imagine the reading "cursor" is at the end of the file after having read it. So there is nothing left to read. We can reset the "cursor" like this:

In [ ]:
# Seek to the start of file (index 0)
my_file.seek(0)

In [ ]:
# Now read again
my_file.read()

In [ ]:
# Readlines returns a list of the lines in the file
my_file.seek(0)
my_file.readlines()

In [ ]:
my_file.close()

## Writing to a File

By default, the `open()` function will only allow us to read the file. We need to pass the argument `'w'` to write over the file. For example:

In [ ]:
# Add a second argument to the function, 'w' which stands for write.
# Passing 'w+' lets us read and write to the file

my_file = open('test.txt','w+')

### <strong><font color='red'>Use caution!</font></strong> 
Opening a file with `'w'` or `'w+'` truncates the original, meaning that anything that was in the original file **is deleted**!

In [ ]:
# Write to the file
my_file.write('This is a new line')

In [ ]:
# Read the file
my_file.seek(0)
my_file.read()

In [ ]:
my_file.close()  # always do this when you're done with a file

## Appending to a File
Passing the argument `'a'` opens the file and puts the pointer at the end, so anything written is appended. Like `'w+'`, `'a+'` lets us read and write to a file. If the file does not exist, one will be created.

In [ ]:
my_file = open('test.txt','a+')
my_file.write('\nThis is text being appended to test.txt')
my_file.write('\nAnd another line here.')

In [ ]:
my_file.seek(0)
print(my_file.read())

In [ ]:
my_file.close()

### Appending with `%%writefile`
We can do the same thing using IPython cell magic:

In [ ]:
%%writefile -a test.txt

This is text being appended to test.txt
And another line here.

## Iterating through a File

Lets get a quick preview of a for loop by iterating over a text file. First let's make a new text file with some IPython Magic:

In [ ]:
%%writefile test.txt
First Line
Second Line

Now we can use a little bit of flow to tell the program to for through every line of the file and do something:

In [ ]:
for line in open('test.txt'):
    print(line)

## Important to note a few things here:

1. We could have called the "line" object anything (see example below).
2. By not calling `.read()` on the file, the whole text file was not stored in memory.
3. Notice the indent on the second line for print. This whitespace is required in Python.